# this is comment

# ignore all start with . in the root dir
/.*

# ignore all files and dir starting with .
.*

# ignore objects / middle output source
*.class
*.pyc
*.o
*.swp
*.bak
~*.*

# but, I won't ignore following
!.gitignore

build

*.iml
.idea

tmp/
target/

node_modules/
log/
*.log

